button {
  box-sizing: border-box;
  display: block;
  padding: 8px 6px;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  outline: none;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    background-color: #888;
  }
}

.small {
  width: 290px;
  height: 40px;
  font-size: 14px;
}

.large {
  width: 550px;
  height: 56px;
  font-size: 18px;
}

.yellow {
  color: #fff;
  background-color: #ffd039;

  &:active {
    border: solid 2px white;
  }
}

.white {
  color: #ffd039;
  background-color: #fff;

  &:active {
    border: solid 2px #ffd039;
  }
}
